<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Need Sunscreen??</title>
    <link rel = "icon" type = "image/x-icon" href = " images/favicon.ico"/>
    <link rel = "stylesheet" href="./styles/styles.css" />
</head>
<body>
    <header>
        <div class = "title">
            <h1>Need Sunscreen Today??</h1>
        </div>
        <div class = "date_time">
            <div>
                <p>Date : <span id = "date"></span> </p>
            </div>            
            <div>
                <p>Time : <span id = "time"></span> </p>
            </div>
            
        </div>
    </header>
</body>
</html>